<h1><%= @farm.name %></h1>
<hr>

<div class="row">
  <div class="col-4">
    <dl>
      <dt><%= Farm.human_attribute_name(:address) %></dt>
      <dd><%= @farm.address %></dd>
      <dt><%= Farm.human_attribute_name(:size) %></dt>
      <dd><%= @farm.size %></dd>
      <dt><%= Farm.human_attribute_name(:latitude) %></dt>
      <dd><%= @farm.latitude %></dd>
      <dt><%= Farm.human_attribute_name(:longitude) %></dt>
      <dd><%= @farm.longitude %></dd>
      </dd>

      <%= link_to t('.register_harvest'), new_farm_harvest_path(@farm), class: 'btn btn-primary' unless @farm.active_harvest.present? %>
  </div>

  <div class="col">
    <%= render @farm.active_harvest if @farm.active_harvest.present? %>
  </div>
</div>
